section.footer
    p
        | Sito fatto da Matteo Vona e Vincenzo N. Cesqui Podiani - 
        a(href="/admin/") Pannello di Controllo
    script 
        window.jQuery || document.write('<script src="script/jquery-1.11.2.min.js"><\/script>')
    script(src="script/plugins.js") 
    script(src="script/main.js")