section.footer
    p
        Sito fatto da Matteo Vona e Vincenzo N. Cesqui Podiani
    script 
        window.jQuery || document.write('<script src="../style/js/vendor/jquery-1.11.2.min.js"><\/script>')
    script(src="plugins.js") 
    script(src="main.js")