doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= "Parma | " + data.crumb

    meta(name="viewport", content="width=device-width", initial-scale=1)

    case data.type
      when "home"
        link(rel="stylesheet" href="../style/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="../style/css/fontAwesome.css")
        link(rel="stylesheet" href="../style/css/owl-carousel.css")
        link(rel="stylesheet" href="../style/css/templatemo-style.css")
      when "article"
        link(rel="stylesheet" href="../style/css/dettaglio.css")

    link(rel="stylesheet" href="../style/css/bootstrap.min.css")
    // Map
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=", crossorigin="")
    // Font
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800")
