<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Battistero</title>

    <link href="../style/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="../style/css/dettaglio.css">

    
  </head>

<body>
  <div class="page-heading header-text">
      <div class="row">
          <span class="breadcrumb"><a href="index.html">Torna alla Home</a></span>
          <h3>Battistero</h3>
      </div>
  </div>

  <div class="single-property section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="main-image">
            <img src="../style/img/battistero.jpg" alt="">
          </div>
          <div class="main-content">
            <span class="category">Edificio Religioso</span>
            <h4>Piazza Duomo</h4>
            <p><strong>Un gioiello romanico-gotico nel cuore della città </strong> Sorge fiero e maestoso in Piazza del Duomo a Parma, il Battistero di Parma, un capolavoro dell'arte romanico-gotica che rappresenta uno dei monumenti più iconici della città e dell'intera Emilia-Romagna. Costruito tra il 1196 e il 1216 su progetto di Benedetto Antelami, questo battistero ottagonale in marmo rosa di Verona è un'opera d'arte a cielo aperto che racchiude al suo interno tesori inestimabili.
            <br><br> <strong>Un capolavoro scultoreo:</strong> L'esterno del battistero è un tripudio di sculture che narrano storie bibliche e simboli cristiani. Ammirate la porta sud, scolpita dallo stesso Antelami, che raffigura il mese di marzo e l'Annunciazione; soffermatevi sulla porta nord, impreziosita con la Fuga in Egitto; e lasciatevi incantare dalla porta occidentale, che celebra la Presentazione di Gesù al Tempio.
            <br><br> <strong>Un viaggio nel tempo:</strong> Salite sulla balconata che circonda il primo piano e perdetevi nei bassorilievi che raccontano la vita di Cristo e dei Santi. Prestate attenzione alle lunette che adornano i portali, dove scene bibliche si intrecciano a figure allegoriche e simboli zodiacali. Ogni dettaglio è un invito a scoprire nuovi significati e ad approfondire la propria conoscenza della fede cristiana.
            <br><br> <strong>Un'esperienza mistica:</strong> Entrate all'interno del battistero e lasciatevi avvolgere dalla sua atmosfera mistica. La luce soffusa che filtra dalle piccole finestre in alabastro crea un'atmosfera suggestiva, mentre lo sguardo si posa sulla fontana battesimale ottagonale, decorata con bassorilievi raffiguranti i mesi dell'anno e le stagioni.
            <br><br> <strong>Informazioni e prenotazioni:</strong> Visita il <a href="https://www.piazzaduomoparma.com/la-piazza/battistero/" target="_blank" rel="noopener">sito web del Battistero</a> per consultare gli orari di apertura e per conoscere le tariffe.</p><br><br>
          </div> 
          
        </div>
        <div class="col-lg-4">
          <div class="info-table">
            <ul>
              <li>
                <img src="../style/img/time.png" alt="" style="max-width: 52px;">
                <h4>1196 D.C.<br><span>Data di costruzione</span></h4>
              </li>
              <li>
                <img src="../style/img/religion.png" alt="" style="max-width: 52px;">
                <h4>Cattolica<br><span>Religione</span></h4>
              </li>
              <li>
                <img src="../style/img/architect.png" alt="" style="max-width: 52px;">
                <h4>Benedetto Antelami<br><span>Ideatore</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer class="footer-no-gap">
    <div class="container">
      <div class="col-lg-12">
        <p>Sito fatto da Matteo Vona e da Vincenzo Cesqui</a></p>
      </div>
    </div>
  </footer>

  </body>
</html>