<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Galleria Nazionale</title>
    <link href="../style/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/css/dettaglio.css">
  </head>

<body>
  <div class="page-heading header-text">
      <div class="row">
          <span class="breadcrumb"><a href="index.html">Torna alla Home</a></span>
          <h3>Galleria Nazionale</h3>
      </div>
  </div>

  <div class="single-property section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="main-image">
            <img src="../style/img/galleria_nazionale.jpg" alt="">
          </div>
          <div class="main-content">
            <span class="category">Museo</span>
            <h4>Piazzale della Pilotta, 15</h4>
            <p><strong>Un viaggio tra capolavori dell'arte italiana </strong> Nel cuore di Parma, immersa nella suggestiva cornice di Palazzo della Pilotta, si trova la Galleria Nazionale, un vero e proprio scrigno d'arte che custodisce un'eccezionale collezione di capolavori che spaziano dal Medioevo al Novecento.
            <br><br> <strong>Un tuffo nella storia dell'arte italiana:</strong> Attraversando le sale della galleria, vi troverete di fronte a opere di artisti di fama mondiale, come Beato Angelico, Correggio, Parmigianino, Tintoretto e Tiepolo. Ogni sala racconta una storia, un'epoca, un movimento artistico. Lasciatevi guidare dalle emozioni che ogni opera suscita in voi e immergetevi nella bellezza e nella maestria dei grandi maestri italiani.
            <br><br> <strong>Dal Medioevo al Novecento:</strong>La Galleria Nazionale di Parma vanta una collezione ricca e diversificata, che copre un arco temporale che va dal Medioevo al Novecento. Ammirate le Madonne di Beato Angelico, i ritratti del Parmigianino, le scene mitologiche del Correggio, i paesaggi di Fontanesi e le opere di arte moderna e contemporanea di autori come Carracci, Guercino, Tiepolo e Boldini.
            <br><br> <strong>Un'esperienza unica:</strong> Visitare la Galleria Nazionale di Parma è un'esperienza unica e indimenticabile. Ogni opera è un invito a scoprire nuovi significati, ad approfondire la propria conoscenza dell'arte italiana e a lasciarsi emozionare dalla bellezza.
            <br><br> <strong>Informazioni e prenotazioni:</strong> Visita il <a href="https://complessopilotta.it/galleria-nazionale/" target="_blank" rel="noopener">sito web della Galleria Nazionale</a> per consultare gli orari di apertura e per conoscere le tariffe.</p><br><br>
          </div> 
          
        </div>
        <div class="col-lg-4">
          <div class="info-table">
            <ul>
              <li>
                <img src="../style/img/time.png" alt="" style="max-width: 52px;">
                <h4>1760 <br><span>Data di istituzione</span></h4>
              </li>
              <li>
                <img src="../style/img/sculpture.png" alt="" style="max-width: 52px;">
                <h4>700<br><span>Opere contenute</span></h4>
              </li>
              <li>
                <img src="../style/img/noble.png" alt="" style="max-width: 52px;">
                <h4>Filippo I di Parma<br><span>Fondatore</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer class="footer-no-gap">
    <div class="container">
      <div class="col-lg-12">
        <p>Sito fatto da Matteo Vona e da Vincenzo Cesqui</a></p>
      </div>
    </div>
  </footer>

  </body>
</html>