<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Teatro Regio</title>

    <link href="../style/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="../style/css/dettaglio.css">

    
  </head>

<body>
  <div class="page-heading header-text">
      <div class="row">
          <span class="breadcrumb"><a href="index.html">Torna alla Home</a></span>
          <h3>Teatro Regio</h3>
        </div>
  </div>

  <div class="single-property section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="main-image">
            <img src="../style/img/teatro_regio.jpg" alt="">
          </div>
          <div class="main-content">
            <span class="category">Teatro</span>
            <h4>Strada Garibaldi 16/a</h4>
            <p><strong>Un gioiello neoclassico: </strong> Sulle rive del torrente Parma, il Teatro Regio sorge come un'imponente reggia della musica, custode di una storia secolare e palcoscenico di indimenticabili emozioni. Inaugurato nel 1829, il teatro incarna il fasto dell'architettura neoclassica, con la sua facciata monumentale e gli interni sontuosi, impreziositi da stucchi dorati e velluti rossi.
            <br><br> <strong>Nel tempio della lirica:</strong> Varcando la soglia del Regio, si respira l'atmosfera magica che ha visto esibirsi i più grandi nomi dell'opera italiana, da Verdi a Puccini. Il suo palcoscenico, tra i più grandi d'Italia, ha accolto capolavori immortali come Aida, Rigoletto e Traviata, consacrando il teatro come tempio indiscusso della lirica.
            <br><br> <strong>Un'acustica perfetta:</strong> Il Teatro Regio vanta un'acustica straordinaria, frutto di un sapiente gioco di proporzioni e materiali. Ogni nota risuona con purezza e armonia, avvolgendo il pubblico in un'esperienza sensoriale unica.
            <br><br> <strong>Oltre l'opera:</strong> Oltre alla lirica, il Regio propone un calendario ricco di concerti di musica classica, balletti, eventi speciali e rassegne dedicate alla musica contemporanea. Un'offerta variegata che accontenta i gusti di tutti gli appassionati di musica.
            <br><br> <strong>Informazioni e prenotazioni:</strong> Visita il <a href="https://www.teatroregioparma.it" target="_blank" rel="noopener">sito web del Teatro Regio</a> per consultare il programma degli spettacoli, prenotare i biglietti e scoprire la sua affascinante storia. Vivi la magia del Regio e lasciati conquistare dalle emozioni che solo la musica sa donare.</p><br><br>
          </div> 
          
        </div>
        <div class="col-lg-4">
          <div class="info-table">
            <ul>
              <li>
                <img src="../style/img/time.png" alt="" style="max-width: 52px;">
                <h4>1821<br><span>Data di costruzione</span></h4>
              </li>
              <li>
                <img src="../style/img/chair.png" alt="" style="max-width: 52px;">
                <h4>1092<br><span>Posti a sedere</span></h4>
              </li>
              <li>
                <img src="../style/img/architect.png" alt="" style="max-width: 52px;">
                <h4>Nicola Bettoli<br><span>Architetto</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer class="footer-no-gap">
    <div class="container">
      <div class="col-lg-12">
        <p>Sito fatto da Matteo Vona e da Vincenzo Cesqui</a></p>
      </div>
    </div>
  </footer>

  </body>
</html>